# Dropna Fillna

In [1]:
import pandas as pd

csv = pd.read_csv('test.csv')
csv.head(10)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,s,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,NaN,NaN,F,Number,0,NaN,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,NaN,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
5,BDCQ.SEA1AA,2012.09,79261.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
6,BDCQ.SEA1AA,2012.12,NaN,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
7,BDCQ.SEA1AA,2013.03,91571.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
8,BDCQ.SEA1AA,2013.06,81687.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
9,BDCQ.SEA1AA,2013.09,81471.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [26]:
csv.dropna(axis=1, how='any', inplace=True)

csv.to_csv('new.csv',index=False)
csv.head(10)

,Series_reference,Period,STATUS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3
0,BDCQ.SEA1AA,2011.06,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
1,BDCQ.SEA1AA,2011.09,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
2,BDCQ.SEA1AA,2011.12,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
3,BDCQ.SEA1AA,2012.03,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
4,BDCQ.SEA1AA,2012.06,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
5,BDCQ.SEA1AA,2012.09,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
6,BDCQ.SEA1AA,2012.12,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
7,BDCQ.SEA1AA,2013.03,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
8,BDCQ.SEA1AA,2013.06,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
9,BDCQ.SEA1AA,2013.09,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual

In [27]:
import pandas as pd

csv = pd.read_csv('new.csv')
csv.fillna("python", inplace=True)
csv

,Series_reference,Period,STATUS,Magnitude,Group,Series_title_1,Series_title_2,Series_title_3
0,BDCQ.SEA1AA,2011.06,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
1,BDCQ.SEA1AA,2011.09,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
2,BDCQ.SEA1AA,2011.12,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
3,BDCQ.SEA1AA,2012.03,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
4,BDCQ.SEA1AA,2012.06,F,0,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
...,...,...,...,...,...,...,...,...
23732,BDCQ.SEE3999A,2017.06,C,0,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual
23733,BDCQ.SEE3999A,2017.09,C,0,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual
23734,BDCQ.SEE3999A,2017.12,C,0,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual
23735,BDCQ.SEE3999A,2018.03,C,0,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual
23736,BDCQ.SEE3999A,2018.06,C,0,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual